.vanishIn {
  -webkit-animation-name: vanishIn;
          animation-name: vanishIn;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@-webkit-keyframes vanishIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
    -webkit-filter: blur(90px);
            filter: blur(90px);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes vanishIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
    -webkit-filter: blur(90px);
            filter: blur(90px);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
#juego_general{
  background-color: rgb(255, 255, 255);
  width: 60%;
  height: 90%;
  position: absolute;
  top: 9px;
  left: 22%;
  border-radius: 10%;
  animation-duration: 5s;
  animation-name: seleción;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: 20px 20px 20px  rgb(103, 255, 1);
}
#respuestas{
  display: flex;
  position: fixed;
  top: 70%;
  left: 30%;
}
#seleción{
    animation-timing-function: linear;
    -webkit-transform: scale(1.2); transform: scale(1.2);
} 
#ps1{
  width: 40%;
  height: 30%;
  left: 0%;
  margin: 0%;
  border-radius: 10%;
}
#ps1:hover{
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-name: seleción;
  animation-timing-function: linear;
  -webkit-transform: scale(1.2); transform: scale(1.2);
}
#ps2{
  width: 30%;
  height: 30%;
  left: 10%;
  margin: 0%;
  border-radius: 10%;
}
#ps2:hover{
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-name: seleción;
  animation-timing-function: linear;
  -webkit-transform: scale(1.2); transform: scale(1.2);
}
#ps3{
  width: 30%;
  height: 30%;
  left: 20%;
  border-radius: 10%;
}
#ps3:hover{
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-name: seleción;
  animation-timing-function: linear;
  -webkit-transform: scale(1.2); transform: scale(1.2);
} 
#ps4{
  width: 30%;
  height: 30%;
  left: 35%;
  margin: 0%;
  border-radius: 10%;
}
#ps2:hover{
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: seleción;
    animation-timing-function: linear;
    -webkit-transform: scale(1.2); transform: scale(1.2);
}
#ps1:hover{
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: seleción;
    animation-timing-function: linear;
    -webkit-transform: scale(1.2); transform: scale(1.2);
} 
#imagen1{
    display: none;
    position: relative;
    top: 85%;
    left: 17%;
    width: 10%;
    height: 10%;
}
#imagen2{
    display: none;
    position: relative;
    top: 85%;
    left: 37%;
    width: 10%;
    height: 10%;
}#imagen3{
    display: none;
    position: relative;
    top: 85%;
    left: 55%;
    width: 10%;
    height: 10%;
}#imagen4{
    display: none;
    position: relative;
    top: 86%;
    left: 77%;
    width: 10%;
    height: 10%;
}
@keyframes seleción {
    0%{
      border-top-color: rgb(0, 204, 255);
    border-bottom-color: rgb(0, 204, 255);
    border-left-color:rgb(255, 255, 255);
    border-right-color:rgb(255, 255, 255);
    box-shadow: rgb(136, 255, 0) 10px 10px 10px;
    }
    25%{
      border-top-color: rgb(255, 255, 255);
      border-bottom-color: rgb(255, 255, 255);
      border-left-color:rgb(0, 204, 255);
      border-right-color:rgb(255, 251, 0);
      box-shadow: rgb(238, 255, 0) 10px 10px 10px;
    }
    50%{
      border-top-color: rgb(255, 0, 0);
      border-bottom-color: rgb(0, 204, 255);
      border-left-color:rgb(255, 255, 255);
      border-right-color:rgb(255, 255, 255);
      box-shadow: rgb(4, 0, 255) 10px 10px 10px;
    }
    75%{
      border-top-color: rgb(255, 255, 255);
      border-bottom-color: rgb(255, 255, 255);
      border-left-color:rgb(0, 204, 255);
      border-right-color:rgb(0, 204, 255);
      box-shadow: rgb(174, 0, 255)10px 10px 10px;
    }
    100%{
      border-top-color: rgb(0, 204, 255);
      border-bottom-color: rgb(0, 204, 255);
      border-left-color:rgb(255, 255, 255);
      border-right-color:rgb(255, 255, 255);
      box-shadow: rgb(136, 255, 0) 10px 10px 10px;
    }
  }
  #logo{
      position: absolute;
      width: 15%;
      height: 30%;
  }
  #logo2{
    position: absolute;
    left: 85%;
    width: 15%;
    height: 30%;
}
@keyframes ani-cuadrado {
    0%{
        
    }
    20%{ 
        
        transform: rotate(45deg);
        background-color: blue;
    }
    40%{
        
        transform: rotate(60deg);
        background-color: rgb(251, 255, 0);
    }
    60%{
        
        transform: rotate(120deg);
        background-color: rgb(0, 247, 255);
    }
    80%{
        transition: all 5s ease;
        transform: rotate(300deg);
        background-color: rgb(94, 255, 0);
    }
    100%{
        
        transform: rotate(360deg);
        background-color: rgb(174, 0, 255);
    }
}
#cuadrado{
    position: absolute;
    top: 88%;
    left: 0%;
    width: 10%;
    height: 13%;
    border-radius: 10%;
    background-color: blue;
    animation-name: ani-cuadrado;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#co2{
    position:absolute;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 80%;
    border-radius: 10%;
    box-shadow: 10px 10px 10px rgb(170, 165, 165);
    background-color: rgba(255, 255, 255, 0.829);
    transition: all 5s ease;
}
#co2:hover{
    -webkit-transform: scale(1.1);transform: scale(1.1);
    transition: all 5s ease;
    background-color: black;
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
}
#nombre{
    font-size: 200%;
    position: absolute;
    top: 40%;
    left: 16%;
    color:rgb(0, 255, 157);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-color: turquoise;
    outline: none;
    width: 70%;
    background-color: transparent;
}
#nombre:hover{
    -webkit-transform: scale(1.1);transform: scale(1.1);
    color: white;
}
#titulo_c02{
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    color: rgb(109, 109, 109);
    animation-name: cambio_color_texto;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes cambio_color_texto {
    
    0% {
      
      color: blue;
    }
    
    10% {
      
      color: #8e44ad;
    }
    
    20% {
      
      color: #1abc9c;
    }
    
    30% {
      
      color: #d35400;
    }
    
    40% {
      
      color: blue;
    }
    
    50% {
      
      color: #34495e;
    }
    
    60% {
      
      color: blue;
    }
    
    70% {
      
      color: #2980b9;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color: #2980b9;
    }
    
    100% {
      
      color: pink;
    }
  }
  #imagen{
    background-color: rgba(0,0,0,0.8);
    background-image:url(https://www.gob.mx/cms/uploads/article/main_image/101502/16-16.jpg);
    background-size: cover;
    height: 500px;
    max-width: 100%;
  }
  #iniciar{
      position: absolute;
      top: 70%;
      left: 40%;
      width: 16%;
      height: 20%;
      outline: none;
      border-radius: 49%;
      font-size: 100%;
      background-color: darkorange;
      border-color: black;
  }
  #iniciar:hover{
      -webkit-transform: scale(1.1);transform: scale(1.1);
  }
  #fondo{
      background-image: url(fondo.gif);
      background-size: cover;
  }
  #contador{
    color: white;
  }
  #todo{
      margin: 0;
      padding: 0;
      justify-content: center;
  }
  #alebrije{
    position: absolute;
    left: 30%;
    width: 40%;
    height: 81.5%;
  }
  #ojo1{
    width: 3%;
    height: 6%;
    position: absolute;
    left: 49.2%;
    bottom: 27.8%;
    background-color: yellow;
    border-radius: 100%;
    animation-name: animación_de_ojos;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border: 0px;
  }
  #ojo2{
    width: 2.5%;
    height: 5%;
    position: absolute;
    left: 53.8%;
    bottom: 30%;
    background-color: yellow;
    border-radius: 100%;
    animation-name: animación_de_ojos;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
  @keyframes animación_de_ojos {
    0%{

    }
    10%{
      background-color: yellow;
      -webkit-transform: scale(1.1);transform: scale(1.1);
      transition: all 2s ease;
    }
    20%{
      background-color: red;
      transition: all 2s ease;
    }
    30%{
      background-color: rgb(103, 255, 1);
      -webkit-transform: scale(1.1);transform: scale(1.1);
      transition: all 2s ease;
    }
    40%{
      background-color: rgb(1, 120, 255);
      transition: all 2s ease;
    }
    50%{
      background-color: rgb(5, 1, 255);
      -webkit-transform: scale(1.1);transform: scale(1.1);
      transition: all 2s ease;
    }
    60%{
      background-color: rgb(0, 0, 0);
      transition: all 2s ease;
    }
    70%{
      background-color: rgb(255, 145, 1);
      -webkit-transform: scale(1.1);transform: scale(1.1);
      transition: all 2s ease;
    }
    80%{
      background-color: rgb(225, 1, 255);
      transition: all 2s ease;
    }
    90%{
      background-color: rgb(255, 1, 120);
      -webkit-transform: scale(1.1);transform: scale(1.1);
      transition: all 2s ease;
    }
    100%{
      background-color: yellow;
      transition: all 2s ease;
    }
  }
  #ojo_movediso_1{
    position: absolute;
    bottom: 58%;
    left: 43.3%;
    width: 5.3%;
    height: 10.6%;
  }
  #ojo_movediso_2{
    position: absolute;
    bottom: 56.3%;
    left: 49%;
    width: 5.3%;
    height: 10.6%;
  }
  .container{
    width: 100%;
    height: 50%;
    min-width: 600px;
    max-width: 800px;
    max-height: 500px;
    position: absolute;
    bottom: 2%;
    left: 15%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rain{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .rain:nth-of-type(1){
    --duration: 2.7s;
    --delay: 1s;
    transform: translate(10%, 10%) scale(0.9);
  }
  
  .rain:nth-of-type(2){
    --duration: 2.1s;
    --delay: 1.2s;
    transform: translate(-20%, 40%) scale(1.3);
  }
  
  .rain:nth-of-type(3){
    --duration: 2.3s;
    --delay: 2s;
    transform: translate(0%, 50%) scale(1.1);
  }
  
  .rain:nth-of-type(4){
    --duration: 2s;
    --delay: 4s;
    transform: translate(0%, -10%) scale(1.2);
  }
  
  .rain:nth-of-type(5){
    --duration: 2.5s;
    --delay: 0s;
    transform: translate(10%, 0%) scale(0.9);
  }
  
  .rain:nth-of-type(6){
    --duration: 2s;
    --delay: 2.7s;
    transform: translate(-20%, 0%) scale(1);
  }
  
  .rain:nth-of-type(7){
    --duration: 1.8s;
    --delay: 1.3s;
    transform: translate(20%, -40%) scale(1.2);
  }
  
  .rain:nth-of-type(8){
    --duration: 2.2s;
    --delay: 0s;
    transform: translate(20%, 0%) scale(1);
  }
  
  .rain:nth-of-type(9){
    --duration: 2s;
    --delay: 0.5s;
    transform: translate(0%, -10%) scale(1.3);
  }
  
  .drop{
    background-color: white;
    width: 3px;
    height: 100px;
    position: absolute;
    top: calc(50% - 100px); 
    left: calc(50% - 1.5px);
    animation-name: fall;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
  }
  
  @keyframes fall{
    0%{
      transform: translateY(-120vh);
    }
    45%{
      transform: translateY(0%);
      opacity: 1;
    }
    46%{
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
  }
  
  .waves > div{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    border: solid white 3px;
    animation-name: spread;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  
  .waves > div:nth-child(2){
    animation-delay: calc(var(--delay) + 0.3s);
    animation-timing-function: linear;
  }
  
  @keyframes spread{
    0%{
      transform: scale(0);
      opacity: 1;
    }
    40%{
      transform: scale(0);
      opacity: 1;
    }
  
    100%{
      transform: scale(1);
      opacity: 0;
    }
  }
  
  
  .splash{
    position: absolute;
    top: 10%;
    bottom: 50%;
    left: 35%;
    right: 35%;
    border-radius: 8px;
    clip-path: polygon(7% 100%, 5% 95%, 3% 80%, 11% 50%, 17% 38%, 23% 44%, 30% 53%, 37% 28%, 40% 29%, 45% 43%, 51% 53%, 59% 36%, 64% 22%, 67% 23%, 70% 34%, 72% 46%, 79% 37%, 83% 37%, 93% 61%, 96% 76%, 96% 94%, 94% 100%);
    background-color: white;
    transform-origin: bottom;
    animation-name: splash;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  
  @keyframes splash{
    0%{
      transform: scale(0.3, 0);
    }
  
    49%{
      transform: scale(0.3, 0);
    }
  
    50%{
      transform: scale(0.3, 0.3);
    }
  
    60%{
      transform: scale(0.7, 1);
    }
  
    90%{
      transform: scale(1, 0);
    }
  
    100%{
      transform: scale(1, 0);
    }
  }
  
  .particles > div{
    position: absolute;	
    border-radius: 100%;
    background-color: white;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
  }
  
  .particles > div:nth-child(1){
    width: 7px;
    height: 7px;
    top: 50%;
    left: 50%;
    animation-name: jumpLeft;
  }
  
  .particles > div:nth-child(2){
    width: 5px;
    height: 5px;
    top: 30%;
    left: 50%;
    animation-name: jumpLeft;
    animation-delay: calc(var(--delay) + 0.1s);
  }
  
  .particles > div:nth-child(3){
    width: 3px;
    height: 3px;
    top: 20%;
    left: 70%;
    animation-name: jumpRight;
    animation-delay: calc(var(--delay) + 0.15s);
  }
  
  .particles > div:nth-child(4){
    width: 5px;
    height: 5px;
    top: 30%;
    left: 50%;
    animation-name: jumpRight;
    animation-delay: calc(var(--delay) + 0.3s);
  }
  
  @keyframes jumpLeft{
    0%{
      transform: translate(0,0) scale(0);
    }
  
    45%{
      transform: translate(0,0) scale(0);
    }
  
    60%{
      transform: translate(-50px, -90px) scale(1);
    }
  
    100%{
      transform: translate(-60px, 0px) scale(0.1);
    }
  }
  
  @keyframes jumpRight{
    0%{
      transform: translate(0,0) scale(0);
    }
  
    45%{
      transform: translate(0,0) scale(0);
    }
  
    60%{
      transform: translate(30px, -80px) scale(1);
    }
  
    100%{
      transform: translate(50px, 0px) scale(0.1);
    }
  }
  #boton1{
    width: 10%;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    border: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    animation-name: vanishIn;
    animation-duration: 7s;
  }
  #boton2{
    width: 10%;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    background-color: white;
    color: black;
    border: 0px;
    cursor: pointer;
    animation-name: vanishIn;
    animation-duration: 7s;
  }
  #boton3{
    width: 10%;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    background-color: white;
    color: black;
    border: 0px;
    cursor: pointer;
    font-family: cursive;
    animation-name: vanishIn;
    animation-duration: 7s;
  }
  #boton4{
    width: 10%;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 0%;
    font-family: cursive;
    animation-name: vanishIn;
    animation-duration: 7s;
  }
#total{
  background-color: black;
}
#diapositivas{
  position: fixed;
  width: 100%;
  height: 100%;
}
#body_pres{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#btn1_3{
  visibility:hidden;
  position: absolute;
  left: 90%;
  top: 94.5%;
  width: 9%;
  height: 5.5%;
  font-size: 100%;
}
#total_altar{
  position: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#altar_3d{
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.video{
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 60%;
  animation-duration: 7s;
}
.vid{
  width: 100%;
  height: 100%;
  animation-name: seleción;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.btn_cerrar{
  color: rgb(255, 255, 255);
  background-color: rgb(28, 185, 125);
  border: 0px;
}
.btn_cerrar:hover{
  -webkit-transform: scale(1.3); transform: scale(1.3);
  background-color: red;
  cursor: pointer;
}
@keyframes salida_video {
  0%{
    -webkit-transform: scale(1.5);transform: scale(1.5);
  }
  30%{
    -webkit-transform: scale(1.2);transform: scale(1.2);
  }
  60%{
    -webkit-transform: scale(0.9);transform: scale(0.9);
  }
  90%{
    -webkit-transform: scale(0.5);transform: scale(0.5);
  }
  100%{
    -webkit-transform: scale(0);transform: scale(0);
  }
}
.cont_video_iframe{
  animation-duration: 7s;
}
#tap_or{
  position: absolute;
  top: 1.5%;
  width: 30%;
  height: 6%;
  background-color: black;
  color: white;
  border-radius: 10px;
}
#texto{
  position: absolute;
  top: 30%;
  left: 30%;
}